{% extends 'main_app/base.html' %}


{% block content%}

<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th>имя диска</th>
                <th>размер</th>
                <th>mountpoint</th>
                <th>кнопки</th>
            </tr>
        </thead>
        
        <tbody>
            {% for obj in data %}
                <tr>
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.size }}</td>
                    <td>{{ obj.mountpoint }}</td>
                    <td class="col-4">
                        <button class="btn btn-warning" 
                                onclick="location.href='{% url 'unmount' disk_name=obj.name %}'">
                            unmount
                        </button>

                        <button class="btn btn-danger"
                                onclick="location.href='{% url 'formate' disk_name=obj.name %}'">
                            formate
                        </button>

                        <button class="btn btn-success" 
                                onclick="location.href='{% url 'mount' disk_name=obj.name %}'">
                            mount
                        </button>
                    </td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>
</div>

{% endblock %}